*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span{
    background-image: url("./lovely\ heart.png");
    background-size: cover;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    animation: animate 5s linear;
}

@keyframes animate{
    0%{
       transform: translate(-50%,-50%);
    }
    100%{
        transform: translate(-50%,-5000%);
        opacity: 0;
        filter: hue-rotate(400deg);
    }
}