*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: aliceblue;
    box-shadow: 6px 6px 10px lightgray ,-6px -6px 10px lightgray;
    position: relative;
    margin: 10px;
    transition: width .7s;
}

.search-icon{
    width: 25px;
    position: absolute;
    left: 20px;
    transition:  .7s;
    transition-delay: .1s;
}
.input-txt{
    background-color: aliceblue;
    border: none;
    outline: none;
    width: 60%;
    font-size: 20px;
}
.microphone{
    width: 30px;
    position: absolute;
    right: 15px;
    transition: width .7s;
    transition-delay: .1s;
}
.active-bar.search-container{
    width: 50px;
        transition: width 1s;

}
.active-bar .input-txt{
    visibility: hidden;
}
.active-bar .search-icon{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.active-bar .microphone{
    visibility: hidden;
    
}
.display{
    display: none;
}
.width{
    width: 80%;
    margin-right: 28px;
}